:root{
    background-image: url(/spa.jpeg);
    background-size: cover;
}

body{
    background: radial-gradient(50% 50% at 50% 50%, rgba(22, 22, 22, 0.44) 0%, rgba(22, 22, 22, 0.78) 100%);
    margin: 0;
}

